.userMenu {
    list-style: none;
    line-height: 90px;
    opacity: 1;
    transition: opacity 0.75s ease-in-out;
    margin: 0 0 0 35px;

    .userMenuItem {
        float: left;
        position: static;
        line-height: 90px;
        padding: 0 10px;

        .userMenuItemTitle {
            text-decoration: none;
            padding: 0 10px;
            display: inline-block;
            cursor: pointer;

            .userMenuItemTitleLabel {
                font-family: EngraversGothic BT, serif;
                color: black;
                letter-spacing: 2px;
                font-size: 14px;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                display: none;
            }
        }

        .account {
            margin-top: 5px;
            .userMenuItemTitleLabel {
                display: block;
            }
        }

        .hearts {
            background: url(https://s3.amazonaws.com/hrla28renttherunway/icons/like.svg) no-repeat center;
            margin-top: 35px;
            width: 26px;
            height: 25px;
        }

        .bag {
            background: url(https://s3.amazonaws.com/hrla28renttherunway/icons/shopping-bag.svg) no-repeat center;
            margin-top: 32px;
            width: 26px;
            height: 25px;
        }

        .customerOffer {
            width: 180px;
            max-width: none;
            min-width: 50px;
            height: 45px;
            border: 1px solid rgb(192, 149, 102);
            color: rgb(150, 94, 49);
            margin-left: 10px;
            padding: 5px 15px;
            display: inline-flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            align-items: center;
            vertical-align: middle;

            .offerText, .subTitle {
                display: block;
                font-family: 'Proxima Nova Regular', serif;
                letter-spacing: 1px;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                position: relative;
            }
        }
    }

}